[Global]
check_minutes_back = 60

[Pushover]
appkey = <your appkey>
userkey = <your userkey>
#Priority 0 is normal. -1 will not trigger sound or vibration. 1 will bypass quiet hours.
priority = 0
#device name if you want notifications to go to a specific device
#device =

[stackoverflow]
#show me new python questions on stackoverflow, but nothing python-2.7
tags = python
exclude = python-2.7

[scifi]
#show me new star trek questions on scifi.stackexchange.com, but not any about DS9 or aliens
tags = star-trek
exclude = star-trek-ds9, aliens

[boardgames]
#show me all new questions on boardgames.stackexchange.com
tags =